/* Espace P
*
* /sass/objects/_articles.scss - Non Esthetic style for articles
*
* coded by Mucht!
*/

.content{
    &__title{
        margin: 5rem 0 0 0;
    }
    &__subTitle{
        margin: 2.5rem 0 0 8.59375%;
    }
    & p{
        margin: 2.5rem 0 0 8.59375%;
        max-width: 57.03125%;
    }
}

.legislation{
    width: 65.625%;
    margin: 5rem auto 0 auto;
}
