/* Espace P
*
* /sass/objects/_contact.scss - Non Esthetic style for contact
*
* coded by Mucht!
*/

.buttons{
    margin: 5rem 5.46875%;
    &__img{
        width: 44.736842105%;
        margin: 5rem 0 0 3.50877193%;
    }
}

.links{
    &__title{
        margin-bottom: 2.5rem;
    }
    &__img{
        width: 65.625%;
        margin: 0 auto 2.5rem auto;
    }
}
