/* Espace P
*
* /sass/objects/_contact.scss - Non Esthetic style for contact
*
* coded by Mucht!
*/

.buttons{
    margin: 5rem 5.46875%;
    &__img{
        width: 44.736842105%;
        margin: 2.5rem 0 0 3.50877193%;
    }
}

.links{
    &__title{
        margin-bottom: 2.5rem;
    }
    &__img{
        width: 56.25%;
        margin: 0 auto 2.5rem 8.59375%;
    }
}

// ===== media query =====
@media screen and (max-width: 1000px) {
    .buttons{
        &__img{
            &--partner{
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
@media screen and (max-width: 760px) {
    .buttons{
        &__img{
            &--antenne{
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
