/* Espace P
*
* /sass/objects/_news.scss - Non Esthetic style for news
*
* coded by Mucht!
*/

.news{
    margin-top: 5rem;
    &__article{
        width: 31.25%;
        margin: 0 0 5rem 8.59375%;
    }
    &__social{
        width: 31.25%;
        margin-left: 8.59375%;
    }
}
