/* Espace P
*
* /sass/objects/_news.scss - Non Esthetic style for news
*
* coded by Mucht!
*/

.news{
    width: 31.25%;
    margin-top: 5rem;
    margin-left: 8.59375%;
    &__article{
        margin-bottom: 5rem;
    }
}

//===== media query =====
@media screen and (max-width: 760px) {
    .news{
        margin: 5rem auto 2.5rem;
        width: 65.625%;
    }
}
