/* Espace P
*
* /sass/objects/_profils.scss - Non Esthetic style for profils elements
*
* coded by Mucht!
*/

.profils{
    width: 48.4375%;
    margin-right: 8.59375%;
    margin-bottom: 5rem;
    &__img{
        margin-top: 5rem;
    }
}
