/* Espace P
*
* /sass/components/_antenne.scss - Esthetic style for antenne
*
* coded by Mucht!
*/

.about{
    float: left;
}

.team{
    &__list{
        font-size: 1.8rem;
        padding-bottom: 5rem;
    }
    &__member{
        padding: 0.5em;
        color: $memberColor;
    }
    &__function{
        font-size: 1.6rem;
        display: block;
        padding: 0.2em 0 0 1em;
        color: $functionColor;
    }
}

.schedule{
    &__list{
        font-size: 1.8rem;
        padding-bottom: 5rem;
    }
    &__day{
        padding: 0.5em;
        color: $memberColor;
    }
    &__time{
        font-size: 1.6rem;
        padding: 0.2em 0 0 1em;
        color: $functionColor;
    }
}

.findUs{
    & p.address__line{
        &:first-of-type{
            &::before{
                content: "";
                font-family: $glyphs;
                padding-right: 0.8em;
            }
        }
    }
    & p.findUs__phone{
        &::before{
            content: "";
            font-family: $glyphs;
            padding-right: 0.5em;
        }
    }
    & a.findUs__mail{
        font-size: 1.8rem;
        line-height: 1.7;
        color: $textColor;
        text-decoration: none;
        &::before{
            content: "";
            font-family: $glyphs;
            padding-right: 0.4em;
        }
    }
}

.contact{
    float: right;
}

.antenne{
    &__title{
        font-size: 3rem;
    }
}

.map{
    &__link{
        display: block;
        min-height: 300px;
        background-size: cover;
        background-position: center center;
    }
}

// ===== media query =====
@media screen and (max-width: 600px) {
    .antenne{
        text-align: center;
    }
    .about{
        float: none;
        display: inline-block;
    }
    .contact{
        float: none;
    }
    .findUs, .schedule, .team{
        text-align: left;
    }
}

@media screen and (max-width: 700px) {
    .map{
        &__link{
            min-height: 200px;
        }
    }
}
