/* Espace P
 *
 * /sass/components/_contact.scss - Esthetic style for contact
 *
 * coded by Mucht!
 */

.buttons{
    float: right;
    &__title{
        text-align: center;
        font-size: 4rem;
        width: 60%;
        margin: 0 auto;
    }
    &__intro p{
        width: 50%;
        margin: 0 auto 0.7em;
        font-size: 3rem;
        text-align: center;
        line-height: 1.7;
    }
    &__img{
        display: block;
        float: left;
        &--antenne{
            background-image: url( #{ $imgPath }contact.jpg );
        }
        &--partner{
            background-image: url( #{ $imgPath }partner.jpg );
        }
    }
}

.pageButtonImg{
    display: block;
    background-size: cover;
    background-position: center bottom;
}

.pageButton{
    position: relative;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 4rem;
    padding: 1.375em 1.25em;
    color: $pagebuttonColor;
    background-color: $filterColor;
    transition: 0.1s ease-in-out;
    &:hover, &:focus{
        background-color: $filterColorHover;
        text-decoration: underline;
    }
}

.links{
    &__img{
        &--legislation{
            background-image: url( #{ $imgPath }legislation.jpg );
        }
        &--vac{
            background-image: url( #{ $imgPath }vac.jpg );
        }
        &--info{
            background-image: url( #{ $imgPath }info.jpg );
        }
    }
}

// ===== media query =====
@media screen and (max-width: 760px) {
    .pageButton{
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .pageButton{
        font-size: 2rem;
    }
    .buttons{
        &__link{
            font-size: 3rem;
        }
    }
}
