/* Espace P
*
* /sass/components/_form.scss - Esthetic style for articles
*
* coded by Mucht!
*/

.form{
    font-size: 2rem;
    &__fieldset{
        position: relative;
        &--noBorder{
            border: none;
        }
    }
    &__label{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0.6em 0 0 0.5em;
        display: inline-block;
        &--textarea{
            bottom: auto;
            top: 0;
        }
    }
    &__input{
        background-color: transparent;
        font-family: $josefinStack;
        padding: 0.6em 1em 0.4em 8rem;
        font-size: 1.8rem;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        border-bottom: 2px solid $formBorderColor;
        &--support{
            padding-left: 16rem;
        }
        &:focus{
            border: 2px solid $formBorderColor;
        }
    }
    &__textarea{
        padding: 0em 1em 0.4em 0.6em;
        margin-top: 2.222222222em;
        display: block;
        resize: vertical;
        font-family: $josefinStack;
        font-size: 1.8rem;
        border: none;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        border-bottom: 2px solid $formBorderColor;
        &:focus{
            border: 2px solid $formBorderColor;
        }
    }
    &__checkbox{
        position: absolute;
        top: 0;
        cursor: pointer;
    }
    &__checkboxLegend{
        display: block;
        font-size: 1.6rem;
        padding-bottom: 2.5rem;
        padding-left: 2em;
        cursor: pointer;
    }
    &__submit{
        padding: 0.6em 0.5em 0.4em 0.5em;
        font-size: 2.4rem;
        font-family: $josefinStack;
        background-color: $submitBrg;
        color: $pagebuttonColor;
        border: none;
        display: block;
        cursor:pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}

// Error managment (contact form 7 plugin)
.screen-reader-response{
    font-size: 1.8rem;
    color: $formErrorColor;
    & ul{
        font-size: 0rem;
    }
}
.wpcf7-validation-errors{
    color: $formErrorColor;
}
.wpcf7-form-control-wrap .wpcf7-not-valid-tip{
    position: relative;
    left: 0.5em;
    font-size: 1.8rem;
    color: $formErrorColor;
}
