/* Espace P
 *
 * /sass/components/_header.scss - Esthetic style for header
 *
 * coded by Mucht!
 */

.header{
    position: relative;
    background-image: url( #{ $imgPath }headerBrg.jpg );
    background-size: cover;
    background-position: center bottom;
    &__filter{
        display: block;
        padding-top: 8rem;
        background-color: $filterColor;
    }
    &__titleBloc{
        text-align: center;
        padding: auto 8.59375%;
        padding-bottom: 5rem;
    }
    &__logoLink{
        display: inline-block;
    }
    &__title{
        position: relative;
        display: inline-block;
        padding-top: 10rem;
        vertical-align: top;
        text-align: center;
        font-size: 5rem;
        color: $titleColor;
    }
    &__subTitle{
        padding-top: 4rem;
        text-indent: -10rem;
        font-size: 2rem;
    }
    &__nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.8);
    }
}

// ===== media query =====
@media screen and (max-width: 900px) {
    .header{
        &__title{
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 760px) {
    .header{
        &__filter{
            padding-top: 5rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .header{
        &__filter{
            padding: 7.5rem 8.59375% 0;
        }
        &__title{
            padding-top: 0;
        }
        &__logoLink{
            display: none;
        }
        &__subTitle{
            text-indent: 0;
        }
    }
}

@media screen and (max-width: 350px) {
    .header{
        &__title{
            text-align: center;
        }
        &__logoLink{
            display: none;
        }
        &__subTitle{
            text-indent: 0;
        }
    }
}
