/* Espace P
 *
 * /sass/components/_news.scss - Esthetic style for news
 *
 * coded by Mucht!
 */

.news{
    &__title{
        font-size: 2.5rem;
        color: $titleColor;
        text-align: center;
        background-color: $titleBcg;
        padding: 0.6em 0 0.4em;
    }
    &__subTitle{
        font-size: 2rem;
        padding-bottom: 1em;
    }
    &__content{
        font-family: $cardoStack;
        font-size: 1.6rem;
        line-height: 1.7;
        padding: 1em;
        border: 3px solid $borderColor;
    }
}

.social, .download__link{
    position: relative;
    display: block;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    text-decoration: none;
    color: $socialColor;
    background-color: $socialBcg;
    &::before{
        content: "";
        position: absolute;
        left: 2rem;
        bottom: -0.4rem;
        padding-right: 0.5em;
        font-size: 5rem;
        font-family: $glyphs;
    }
    &:hover{
        background: linear-gradient(45deg, rgba(77,0,0,1) 0%, rgba(124,50,71,1) 50%, rgba(77,0,0,1) 100%);
    }
}

// ===== media query =====
@media screen and (max-width: 760px) {

}
