/* Espace P
 *
 * /sass/components/_support.scss - Esthetic style for support
 *
 * coded by Mucht!
 */

.details{
    float: left;
    font-family: $cardoStack;
}

.formSection{
    float: right;
}

.support{
    & p.support__intro{
        font-size: 2.4rem;
    }
    &__price{
        display: block;
        font-size: 5rem;
        color: $priceColor;
        text-align: center;
        background-color: $priceBrg;
    }
}

// ===== media query =====
@media screen and (max-width: 760px) {
    .details{
        float: none;
    }
    .formSection{
        float: none;
    }
}
