/* Espace P
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by Mucht
 */

// Colors
$mainColor: rgb( 124, 50, 71 );
$secondColor: rgb( 67, 113, 121 );

// Text Color
$textColor: $mainColor;
$titleColor: #FFF;
$navColor: #000;
$secondNavColor: #FFF;
$pagebuttonColor: #FFF;
$socialColor: #FFF;
$priceColor: #FFF;
$functionColor: #000;
$memberColor: $textColor;
$formErrorColor: #FF0000;

// background color
$navBrg: rgba(255, 255, 255, 0.9);
$burgerNavBrg: rgba(255, 255, 255, 1);
$filterColor: rgba(124, 50, 71, 0.75);
$filterColorHover: rgba(67, 113, 121, 0.75);
$titleBcg: $mainColor;
$socialBcg: $mainColor;
$secondNavBcg: $secondColor;
$submitBrg: $secondColor;
$priceBrg: $mainColor;

// other color
$borderColor: $mainColor;
$footerLine: $secondColor;
$underlineColor: $secondColor;
$secondNavBorder: #000;
$formBorderColor: $secondColor;
$checkBorderColor: $mainColor;
