/* Espace P
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by Mucht
 */

// Text Color
$textColor: rgb(124, 50, 71);
$titleColor: #FFF;
$navColor: #000;
$pagebuttonColor: #FFF;
$socialColor: #FFF;
$secondNavColor: #000;
$priceColor: #FFF;
$functionColor: #000;
$memberColor: $textColor;

// background color
$navBrg: rgba(255, 255, 255, 0.9);
$filterColor: rgba(124, 50, 71, 0.75);
$filterColorHover: rgba(78, 133, 143, 0.75);
$titleBcg: rgb(124, 50, 71);
$socialBcg: rgb(124, 50, 71);
$secondNavBcg: rgb(78, 133, 143);
$submitBrg: rgb(78, 133, 143);
$priceBrg: rgb(124, 50, 71);

// other color
$borderColor: rgb(124, 50, 71);
$footerLine: rgb(78, 133, 143);
$underlineColor: rgb(78, 133, 143);
$secondNavBorder: #000;
$formBorderColor: rgb(78, 133, 143);
$checkBorderColor: rgb(124, 50, 71);
