 /* Espace P...
  *
  * /sass/base/_root.scss - Base styles for root element
  *
  * coded by Mathieu Claessens
  */

html{
    font-size: 10px;
    font-family: $josefinStack;
    color: $textColor;
}

strong{
    font-weight: bold;
}
